---
import Layout from '@/layouts/Layout.astro'
import IcArrowLeft from "~icons/ri/arrow-left-fill"
---

<Layout title="Privacy Policy">
	<main class="container py-12">
        <div class="flex space-x-4 mb-12">
            <a href="/" class="btn btn-ghost">
                <IcArrowLeft class="w-6 h-6" />
            </a>
            <h1 class="text-5xl">Privacy Policy</h1>
        </div>
		<p class="pb-8">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam condimentum iaculis tempus. Vivamus nec ipsum at lacus porttitor cursus. Nullam lobortis odio eget pellentesque varius. Nulla maximus quam lorem, hendrerit porttitor ante pellentesque laoreet. Mauris sed dignissim eros. Nullam venenatis gravida augue. Praesent ut enim volutpat, auctor tellus sit amet, tempor mi. Curabitur ut tempor mauris, vulputate cursus velit. Morbi feugiat eleifend erat, a condimentum lectus vestibulum sit amet. Suspendisse magna arcu, bibendum a turpis eu, auctor condimentum dui. Fusce dignissim sapien diam, vel hendrerit metus efficitur eget. In tempor et lectus sit amet porttitor. Aliquam dictum turpis nunc, sit amet tincidunt justo dictum non. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        </p>
        <p class="pb-8">
            Mauris at leo quis dui dignissim pretium vulputate in magna. Mauris facilisis dolor vel nulla gravida volutpat. Nulla mattis sem vitae risus venenatis, vel commodo risus luctus. In posuere magna non nibh interdum mattis. Quisque purus mauris, tincidunt in diam nec, pulvinar ultrices nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sit amet dui ut lectus commodo dapibus.
        </p>
        <p class="pb-8">
            Vestibulum nec felis ac dolor condimentum rhoncus vel sed tortor. Maecenas varius magna iaculis nunc imperdiet, in finibus lorem rutrum. Curabitur pharetra porta leo, rhoncus laoreet dui pulvinar viverra. Fusce bibendum suscipit lorem, pulvinar faucibus arcu rutrum sed. Sed eget elit purus. In bibendum quam a lectus sodales, vitae euismod tortor semper. Duis ac pharetra nibh, vel convallis sapien. Nam mattis ante enim, vel auctor nibh malesuada vitae. Donec a tellus vel neque elementum faucibus quis non elit. Morbi augue metus, aliquam nec mollis non, suscipit in nulla. Integer sed ligula iaculis, rhoncus diam bibendum, porttitor tortor.
        </p>
        <p class="pb-8">
            Nunc molestie magna in nisl auctor convallis. Sed lacus metus, egestas vitae vulputate consequat, vulputate ac est. Pellentesque venenatis, urna eget dapibus sollicitudin, justo quam iaculis quam, quis sodales nunc magna ut leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer euismod ante quis elit sagittis, non pulvinar felis ornare. Duis vel urna quis nisl interdum cursus ac a tellus. Integer aliquam tortor sed viverra sollicitudin.
        </p>
        <p class="pb-8">
            Sed at turpis ut sem commodo porttitor ac eu ipsum. Aenean ultrices non velit sed lacinia. Morbi suscipit in augue nec laoreet. Mauris nulla elit, fermentum fermentum lectus sed, luctus varius mi. Maecenas luctus lectus vitae nibh malesuada, ac interdum odio congue. Quisque in urna efficitur tellus finibus finibus vel vitae diam. Cras ultrices, velit pharetra vestibulum accumsan, metus mauris viverra quam, id sollicitudin nunc massa et nulla. Vivamus venenatis turpis in magna suscipit sodales sed at leo. Aliquam non laoreet justo. Integer euismod dolor ex. Nam iaculis accumsan volutpat. Ut vitae tellus diam. Fusce nec dictum quam.
        </p>
        <p class="pb-8">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam condimentum iaculis tempus. Vivamus nec ipsum at lacus porttitor cursus. Nullam lobortis odio eget pellentesque varius. Nulla maximus quam lorem, hendrerit porttitor ante pellentesque laoreet. Mauris sed dignissim eros. Nullam venenatis gravida augue. Praesent ut enim volutpat, auctor tellus sit amet, tempor mi. Curabitur ut tempor mauris, vulputate cursus velit. Morbi feugiat eleifend erat, a condimentum lectus vestibulum sit amet. Suspendisse magna arcu, bibendum a turpis eu, auctor condimentum dui. Fusce dignissim sapien diam, vel hendrerit metus efficitur eget. In tempor et lectus sit amet porttitor. Aliquam dictum turpis nunc, sit amet tincidunt justo dictum non. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        </p>
        <p class="pb-8">
            Mauris at leo quis dui dignissim pretium vulputate in magna. Mauris facilisis dolor vel nulla gravida volutpat. Nulla mattis sem vitae risus venenatis, vel commodo risus luctus. In posuere magna non nibh interdum mattis. Quisque purus mauris, tincidunt in diam nec, pulvinar ultrices nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sit amet dui ut lectus commodo dapibus.
        </p>
        <p class="pb-8">
            Vestibulum nec felis ac dolor condimentum rhoncus vel sed tortor. Maecenas varius magna iaculis nunc imperdiet, in finibus lorem rutrum. Curabitur pharetra porta leo, rhoncus laoreet dui pulvinar viverra. Fusce bibendum suscipit lorem, pulvinar faucibus arcu rutrum sed. Sed eget elit purus. In bibendum quam a lectus sodales, vitae euismod tortor semper. Duis ac pharetra nibh, vel convallis sapien. Nam mattis ante enim, vel auctor nibh malesuada vitae. Donec a tellus vel neque elementum faucibus quis non elit. Morbi augue metus, aliquam nec mollis non, suscipit in nulla. Integer sed ligula iaculis, rhoncus diam bibendum, porttitor tortor.
        </p>
        <p class="pb-8">
            Nunc molestie magna in nisl auctor convallis. Sed lacus metus, egestas vitae vulputate consequat, vulputate ac est. Pellentesque venenatis, urna eget dapibus sollicitudin, justo quam iaculis quam, quis sodales nunc magna ut leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer euismod ante quis elit sagittis, non pulvinar felis ornare. Duis vel urna quis nisl interdum cursus ac a tellus. Integer aliquam tortor sed viverra sollicitudin.
        </p>
        <p>
            Sed at turpis ut sem commodo porttitor ac eu ipsum. Aenean ultrices non velit sed lacinia. Morbi suscipit in augue nec laoreet. Mauris nulla elit, fermentum fermentum lectus sed, luctus varius mi. Maecenas luctus lectus vitae nibh malesuada, ac interdum odio congue. Quisque in urna efficitur tellus finibus finibus vel vitae diam. Cras ultrices, velit pharetra vestibulum accumsan, metus mauris viverra quam, id sollicitudin nunc massa et nulla. Vivamus venenatis turpis in magna suscipit sodales sed at leo. Aliquam non laoreet justo. Integer euismod dolor ex. Nam iaculis accumsan volutpat. Ut vitae tellus diam. Fusce nec dictum quam.
        </p>
	</main>
</Layout>
